body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}
 
.container {
    width: 600px;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products, .cart {
    margin-bottom: 20px;
}

.product, .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.remove-button {
    width : 25px;
    height: 25px;
    /* padding: 5px; */
    border: none;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

#clear-cart {
    width: auto;
    height: auto;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

#clear-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}